body {
	padding: 50px;
	text-align: center;
	background-color: #222223;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
}

main {
	width: 312px;
	height: 390px;
	border: solid black 1px;
	background-color: black;
	-webkit-transform:scale(0.7);
	-moz-transform:scale(0.7);
	-ms-transform:scale(0.7);
	transform:scale(0.7);	
}

#inputText {
	border: solid #9d9d9d 1px;
	border-radius: 15px;
	width: 95%;
	margin: 0 auto;
	height: 75px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: black;
    display: inline-block;
    overflow: scroll; 
    overflow-y: hidden; 
    overflow-x: auto; 
    overflow:-moz-scrollbars-vertical;
/*		text-align: left;
*/}

.button {
	border: solid #9d9d9d 1px;
/*	background-color: #cce5ff; */
	height: 78px;
	background-color: #222223;
	/*border-radius: 30px;*/
}

.button{ 
	width: 103px; 
	/*104*/
}

#keyboard {
	width: 312px;
	height:312px;
	border: solid white 0.5px;
}


#clear {
	margin: 100px;
}

#testStuff{
	background-color: white;
	font-size: 50pt;
	width: 500px;
	height: 500px;
}

h3 {
	margin-bottom: 0;
	margin-top: 0;

}

h5 {
	margin: 0;
}

#test1, #test2, #test3 {
	width: 25%;
	display: inline-block;
}

#test4 {
		width: 100%;
}



#test5, #test6 {
	display: inline-block;
}

#test5 {
	display: center;
}



#test8, #test9 {
	display: inline-block;
}



#test12, #test13 {
	display: inline-block;
}


#test15, #test16 {
	width: 30%;
	display: inline-block;
}

.config1, .config2, .config4, .config5, .config7 {
	display: inline-block;
	width: 25%;
}
